<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Products</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>AMIRI</ion-card-subtitle>
      <ion-card-title>Jaqueta jeans com estampa de logo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Multicolorido/estampado, algodão, estampa corrida de logo, estampa de palmeira, gola clássica, fechamento frontal
      por botões, dois bolsos com abas no busto, mangas longas e dois bolsos fenda nas laterais.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Balmain</ion-card-subtitle>
      <ion-card-title>Tênis B Runner</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Tira dupla na abertura, fechamento frontal deslocado, patch de logo na lingueta, bico arredondado, logo na
      palmilha e solado flat de borracha.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Versace</ion-card-subtitle>
      <ion-card-title>Anel de sinete Medusa</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Detalhe de logo Greca, detalhe cabeça de Medusa e aro sinete. Material: bronze banhado a ouro.
    </ion-card-content>
  </ion-card>

</ion-content>
